.idea/
.lsp/
.vscode/
.env
.venv/
venv/
pr_agent/settings/.secrets.toml
pr_agent/settings_prod/.secrets.toml
pr_agent/settings_prod/.secrets_openai_codex.toml
__pycache__
dist/
*.egg-info/
build/
.DS_Store
docs/.cache/
.qodo
poetry.lock
